.navigation {
  @extend %cover;
  z-index: z('navigation');
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  height: auto;
}

.navigation__link {
  height: 2rem;
  left: 4rem;
  position: absolute;
  top: 4rem;
  transition: opacity 0.4s $ease-in-out;
  width: 12.8rem;

  @include media('<phone') {
    width: 27.9rem;
    height: 4.3rem;
    left: 5rem;
  }

  &:hover {
    opacity: 0.5;
  }
}

.navigation__link__icon {
}

.navigation__list {
}

.navigation__list__item {
  @extend %title-20;
  list-style-type: none;
  position: absolute;
  right: 4rem;
  top: 4rem;

  @include media('<phone') {
    letter-spacing: 0.2rem;
    right: 5rem;
  }
}

.navigation__list__link {
  @extend %link--hidden;
}
