.preloader {
  @extend %cover;
  @extend %center;

  text-align: center;
  z-index: z('preloader');
}

.preloader__text {
  @extend %title-53;

  letter-spacing: -0.02rem;
  line-height: 5.3rem;
  max-width: 65.8rem;

  span {
    display: inline-block;
  }
}

.preloader__number {
  @extend %description-14;

  bottom: 7.45rem;
  position: absolute;
}
